@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
  font-size: 16px;
  font-family: 'Oswald', 'sans-serif';
  color: #fff;
}

html, body, #root {
  height: 100%;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  @media screen and (max-width: 1100px) {
    padding: 0 10px;
  }
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
  text-align: center;
}

header, footer {
  text-align: center;
}

.first-screen {
  background-size: cover;
  background: url("src/img/first-screen.jpg") center top no-repeat;
  height: 100vh;
}

.header__body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  width: 100%;
  position: fixed;
  z-index: 50;
  padding: 0 10px;
  transition: background-color 0.3s ease;
  @media screen and (max-width: 1100px) {
    justify-content: space-between;
    padding: 0 20px;
  }
  &.active {
    background-color: #535058;
  }
  & .header__icon {
    cursor: pointer;
    & img {
      width: 40px;
      height: 40px;
    }
  }
  & .header__text {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
  }
}

.header__nav {
  position: fixed;
  width: 30%;
  height: 100%;
  top: 50px;
  right: 0;
  background-color: rgba(83, 80, 88, 0.9);
  transform: translateX(300%);
  transition: all 0.3s ease;
  font-family: 'Open Sans', sans-serif;
  @media screen and (max-width: 767.98px) {
    width: 100%;
  }
  &.active {
    transform: translateX(0);
  }
  & .menu__header {
    padding: 10px;
    font-size: 1.5rem;
    border-bottom: 1px solid #fff;
  }

  & ul {
    text-align: center;

    & li {
      padding: 10px;
      font-size: 1.2rem;

      & a {
        color: #fff;
      }
    }
  }
}

.burger__btn {
  width: 30px;
  height: 23px;
  cursor: pointer;
  position: relative;
  & span {
    transition: all 0.3s ease;
    &:nth-child(1) {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 30px;
      height: 2px;
      background-color: #fff;
      border-radius: 4px;
    }
    &:nth-child(2) {
      content: '';
      position: absolute;
      top: 10px;
      right: 0;
      width: 30px;
      height: 2px;
      background-color: #fff;
      border-radius: 4px;
    }
    &:nth-child(3) {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      width: 30px;
      height: 2px;
      background-color: #fff;
      border-radius: 4px;
    }
    &.active {
      &:nth-child(1) {
        background: none;
      }
      &:nth-child(2) {
        transform: rotate(45deg);
      }
      &:nth-child(3) {
        transform: rotate(-45deg);
        bottom: 11px;
      }
    }
  }
}


/*****************************************************
******************HOME******************************
*****************************************************/

.home {
  padding: 150px 20px;
  margin: 0 auto;
  & h1 {
    margin: 0 auto;
    max-width: 900px;
    font-weight: 500;
    text-shadow: 1px 0 1px #000,
    0 1px 1px #000,
    -1px 0 1px #000,
    0 -1px 1px #000;
    font-size: 40px;
    line-height: calc(30/16) * 100%;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    @media screen and (max-width: 767.98px) {
      font-size: 28px;
    }
  }

  & p {
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    @media screen and (max-width: 767.98px) {
      font-size: 14px;
    }
  }
}

/*****************************************************
******************BLOCK-YEARS******************************
*****************************************************/

.work__time {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -50px;
  position: relative;
  @media screen and (max-width: 1100px) {
    margin-bottom: 60px;
  }
}

.work__time-content {
  transform: translateY(-50%);
  height: 300px;
  width: 100%;
  max-width: 1080px;
  border-radius: 4px;
  background-color: #F7F7F7;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 200px;
  @media screen and (max-width: 1100.98px) {
    position: inherit;
    flex-direction: column;
    transform: translateY(0);
    height: 100%;
    margin-bottom: 0;
    padding: 0 0 20px 0;
  }
}

.section {
  flex: 1 0 25%;
  & .section-number {
    width: 190px;
    height: 86px;
    font-weight: 500;
    font-size: 72px;
    line-height: 107px;
    text-align: center;
    text-transform: uppercase;
    color: #F7654A;
    margin-bottom: 25px;
  }
  & .section-year {
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 10px;
  }
  & .section__text {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #999;
  }
}

/*****************************************************
******************BIG-PROJECTS*************************
*****************************************************/
.big__projects {
  margin-bottom: 100px;
  @media screen and (max-width: 1100px) {
    margin-bottom: 60px;
  }
}

.big__projects-h2 {
  text-align: center;
  margin-bottom: 60px;
  @media screen and (max-width: 1100px) {
    margin-bottom: 40px;
  }
  & h2 {
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase;
    color: #404149;
    @media screen and (max-width: 767.98px) {
      font-size: 28px;
    }
  }
}

.big__projects-items {
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 992px){
    overflow: auto;
  }
  .big__projects-item {
    flex: 0 1 300px;
    @media screen and (max-width: 992px){
      flex: 0 0 70%;
    }
    & h3 {
      font-weight: 500;
      font-size: 24px;
      line-height: 36px;
      color: #404149;
      margin-bottom: 20px;
    }
    & p {
      font-family: 'Open Sans', sans-serif;
      color: #999999;
      line-height: calc(22/16) * 100%;
      @media screen and (max-width: 767.98px) {
        font-size: 14px;
      }
    }

    & img {
      max-width: 300px;
      @media screen and (max-width: 992px){
        max-width: 100%;
      }
    }
  }
}

.big__projects-img {
  margin-bottom: 45px;
  border-radius: 4px;
}

hr {
  border-radius: 4px;
  margin-left: 0;
  background: #F7654A;
  height: 2px;
  width: 55px;
  margin-bottom: 15px;
}

.big__projects-item + .big__projects-item {
  margin-left: 30px;
}
/*****************************************************
******************GRAPH_TON****************************
*****************************************************/

.graphTon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  color: #000;
  @media screen and (max-width: 1100px) {
    margin-bottom: 60px;
  }
  & .graphTon__h2 {
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase;
    color: #000;
    text-align: center;
    margin-bottom: 60px;
    @media screen and (max-width: 767.98px) {
      font-size: 28px;
      margin-bottom: 40px;
    }
  }
  & .graphTon__text {
    color: #999999;
    line-height: 150%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media screen and (max-width: 767.98px) {
      font-size: 14px;
    }
    & .graphTon__text-ton {
      display: flex;
      align-items: center;
      &:before {
        content: '';
        background-color: #F7654A;
        width: 50px;
        height: 2px;
        display: inline-block;
      }
    }
    & .graphTon__text-plan {
      display: flex;
      align-items: center;
      &:before {
        content: '';
        background-color: #656565;
        width: 50px;
        height: 2px;
        display: inline-block;
      }
    }
  }
}

/*****************************************************
******************CALCULATOR****************************
*****************************************************/
.calculator {
  & .calculator__h2 {
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase;
    color: #000;
    text-align: center;
    margin-bottom: 60px;
    @media screen and (max-width: 767.98px) {
      font-size: 28px;
      margin-bottom: 40px;
    }
  }
  & .calculator__text {
    max-width: 800px;
    color: #999999;
    line-height: 137.5%;
    margin: 0 auto 30px auto;
    @media screen and (max-width: 767.98px) {
      font-size: 14px;
      padding: 0 10px;
    }
  }
  .calculator__item {
    border: 3px solid #F7654A;
    border-radius: 4px;
  }
}

.calculator__content {
  display: flex;
  color: #000;
  padding: 50px;
  @media screen and (max-width: 767.98px) {
    flex-direction: column;
  }
  & .calculator__input {
    width: 100%;
    height: 38px;
    border: 1px solid hsl(0, 0%, 80%);
    padding: 8px;
    border-radius: 4px;
  }
  & input {
    width: 100%;
    height: 38px;
    border: 1px solid hsl(0, 0%, 80%);
    padding: 8px;
    border-radius: 4px;
  }
  & button {
    padding: 10px 15px;
    border-radius: 4px;
    background-color: #F7654A;
    color: #fff;
    cursor: pointer;
    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1.1);
    }
  }
  & .calculator__body {
    flex: 1 0 250px;
    margin-right: 50px;
    @media screen and (max-width: 767.98px){
      margin-right: 0;
    }
    & .calculator__answer {
      @media screen and (max-width: 767.98px){
        margin-bottom: 30px;
      }
    }
  }
  & .calculator__callback {
    flex: 1 0 250px;
  }
  .calculator__form {
  }
}
/*****************************************************
******************CONTACTS****************************
*****************************************************/

.contacts {
  margin: 120px 0 0 0;
}

.contacts__body {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  @media screen and (max-width: 767.98px){
    flex-direction: column;
    align-items: center;
  }
}

.contacts__h2 {
  font-weight: 500;
  font-size: 36px;
  line-height: 53px;
  text-transform: uppercase;
  color: #000;
  text-align: center;
  margin-bottom: 60px;
  @media screen and (max-width: 767.98px) {
    font-size: 28px;
    margin-bottom: 40px;
  }
}

.contacts__content {
  display: flex;
  flex: 0 1 25%;
  flex-direction: column;
  align-items: center;
  max-width: 255px;
  text-align: center;
  margin-right: 30px;
  @media screen and (max-width: 767.98px){
    margin-right: 0;
    margin-bottom: 30px;
  }

  &:last-child {
    margin-right: 0;
    & img {
      margin: 5px 0 42px 0;
    }
  }

  & img {
    margin-bottom: 36px;
    max-width: 50px;
  }
}

.contacts__info {
  margin-bottom: 25px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #999;
  flex: 1 0 auto;
}

.contacts__content-text {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #000;
}

.span-mail {
  color: #F7654A;
}

/*****************************************************
******************FOOTER******************************
*****************************************************/

footer {
  background-color: #404149;
  font-family: 'Open Sans', sans-serif;
}

.footer__body {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  @media screen and (max-width: 767.98px) {
    font-size: 14px;
  }
}

.footer__body-name {
  & a {
    text-decoration: none;
  }
}


